* {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
}
body div {
  padding: 0;
}
.newss {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
.navbar-default {
  background-color: #fff;
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: transparent;
}
.navbar-default .navbar-collapse {
  border: none;
  margin-top: 1%;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  width: 100%;
  color: #333333;
  text-align: center;
  line-height: normal;
}
#shadow > li > a > img {
  width: 100%;
  height: 100%;
}
.navbar-nav {
  margin-left: 20px;
}
.navbar-nav > li {
  text-align: center;
  padding-top: 1.3%;
  padding-bottom: 1.3%;
}
.navbar-nav > li > a > p {
  margin-top: 5px;
}
.navbar-nav > li > a {
  padding: 0;
}
.navbar-toggle {
  float: left;
  border: none;
  z-index: 3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: red;
}
.navbar-toggle .icon-bar {
  height: 3px;
}
#list > span:nth-child(2) {
  width: 30px;
}
#list > span:nth-child(3) {
  width: 22px;
}
#list > span:nth-child(4) {
  width: 30px;
}
#list > span:nth-child(5) {
  width: 22px;
}
#bs-example-navbar-collapse-1 > a > img {
  padding-top: 5%;
  width: 100%;
}
#bs-example-navbar-collapse-1 > ul {
  padding: 0;
  margin: 0;
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .bottom_1 {
    display: none;
  }
  #xiao {
    display: none;
  }
}
.bottom_1 {
  background: #5a5a5a;
  font-family: "黑体";
}
.bottom {
  padding: 0;
  padding-bottom: 15%;
  background: #5a5a5a;
  margin-top: 5%;
}
.bottom > div {
  padding-top: 4.8%;
}
.bottom > div:last-child {
  color: #fff;
}
.bottom h4 {
  color: #fff;
  line-height: 40px;
  margin-left: 44px;
}
.bottom a {
  color: #c7c7c7;
}
.ul {
  border-bottom: 1px solid #696969;
  border-top: 1px solid #696969 ;
  padding: 10px 0;
  margin-left: 44px;
}
.ul > li {
  margin-right: 10px;
  line-height: 30px;
  width: 16%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#ruzhu {
  width: 190px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #e40101;
}
#ruzhu_1 {
  color: #e40101;
  height: 40px;
}
#last li {
  padding-right: 0;
  padding-left: 20px;
}
#last li:nth-child(2) {
  background: url(../img/tle.png) no-repeat left center;
}
#last li:nth-child(3) {
  background: url(../img/add.png) no-repeat left center;
}
#last li:nth-child(5) {
  background: url(../img/l.png) no-repeat left center;
}
#weixin {
  margin-top: 10px;
  padding-left: 20px;
  background: url(../img/weixin.png) no-repeat left center;
}
span {
  display: inline-block;
}
.newss {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.font {
  padding-top: 4%;
}
.font_title {
  font-family: "黑体";
  font-size: 24px;
  border-bottom: 4px solid #e60012;
  margin-top: 2%;
}
.font_title a {
  color: #e60012 ;
  overflow: hidden;
  white-space: nowrap;
}
.font_title span {
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-weight: 100;
}
.other a {
  color: transparent;
}
.other2 {
  margin-top: 2%;
  border-bottom: 4px solid #666666;
  line-height: 3;
}
.other2 a {
  color: transparent;
}
.other1 {
  margin-top: 2%;
  border-bottom: 4px solid #666666;
  line-height: 3;
  text-align: right;
}
.other1 a {
  color: red;
  padding-right: 10%;
}
.img {
  text-align: center;
}
.img img {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
}
.img > div:nth-child(1) img {
  border-top: 4px solid #05559a;
}
.img > div:nth-child(2) img {
  border-top: 4px solid #e99d45;
}
.img > div:nth-child(3) img {
  border-top: 4px solid #08babe;
}
.eee {
  padding: 0;
}
.eee div {
  padding: 0;
  overflow: hidden;
}
/*.eee a{
    background:#eee;
}   */
.img_1 {
  padding: 0;
}
.img_1 img {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
}
.img_1 a {
  padding: 0;
}
.img_2 a {
  text-align: center;
}
.img_2 img {
  width: 90%;
}
.swiper-container1 {
  overflow: hidden;
}
.swiper-slide {
  padding: 0;
}
.onpadding {
  padding: 0;
  margin: 0 30px;
}
.onpadding > div > div > a {
  text-align: center;
  padding: 0;
  width: 100%;
}
.city > div {
  position: relative;
  padding: 0;
  overflow: hidden;
}
.besar {
  position: absolute;
  width: 120px;
  height: 136px;
  bottom: -20px;
  right: 14px;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background: url(../img/liubianxing.png) no-repeat 0 0;
}
.city > div:hover .besar {
  right: 50%;
  bottom: 50%;
  margin-right: -60px;
  margin-bottom: -78px;
}
.black {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
}
.swiper-container {
  overflow: hidden;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .huodong a {
    height: 0;
    overflow: hidden;
    padding-bottom: 26.7%;
    color: #000;
    margin-bottom: 2%;
  }
  .news a {
    position: relative;
  }
  .news p {
    position: absolute;
    bottom: 14px;
    width: 100%;
    left: 0;
    color: #fff;
    background: black;
    opacity: 0.8;
  }
}
.huodong {
  font-size: 12px;
  padding: 0;
}
.huodong > div {
  padding: 0;
}
.huodong h5 {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  margin-top: 4%;
}
.huodong p {
  margin-top: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.huodong > div > a > div {
  padding: 0;
  height: 0;
  padding-bottom: 26.7%;
  left: 3%;
}
.huodong > div > a > img {
  padding: 0;
}
.news span {
  font-size: 12px;
  height: 18px;
  overflow: hidden;
  color: #000;
}
@media screen and (max-width: 768px) {
  .huodong a {
    height: 0;
    padding-bottom: 21%;
    overflow: hidden;
    color: #000;
  }
}
.noop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
.noop a {
  padding-top: 6%;
  color: #fff;
  text-decoration: none;
}
.red {
  border-left: 10px solid red;
  padding-left: 2%;
  background: #eff2f7;
  line-height: 2;
}
.xiangmu div {
  padding: 0;
  padding-left: 1%;
}
.city h3 {
  text-align: center;
  padding-top: 10%;
  color: #fff;
}
.city h4 {
  text-align: center;
  padding-top: 10%;
  color: #fff;
}
.city div {
  padding-top: 2%;
}
.mar {
  margin-top: 7%;
}
.bor1 div {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .bor > div:nth-child(1) a {
    border-top: 4px solid midnightblue;
  }
  .bor > div:nth-child(3) a {
    border-top: 4px solid lightseagreen;
  }
  .bor > div:nth-child(2) a {
    border-top: 4px solid orangered;
  }
  .bor1 p {
    padding: 0;
    font-size: 14px;
  }
  .bor1 span {
    padding: 0;
  }
  .bor1 h5 {
    padding: 0;
  }
  .huo {
    background: #ddd;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 1000px) {
  .other {
    margin-top: 2%;
    border-bottom: 4px solid #666666;
    line-height: 2.47;
  }
}
@media screen and (max-width: 1000px) {
  .other {
    margin-top: 2%;
    border-bottom: 4px solid #666666;
    line-height: -0.53;
  }
}
@media screen and (max-width: 768px) {
  .time {
    margin-top: 2%;
    background: url(../img/time.png) no-repeat 0 0;
    background-size: 3%;
  }
  .dizhi {
    background: url(../img/add1.png) no-repeat 0 0;
    background-size: 2%;
  }
  .bor1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5%;
  }
  h4 {
    font-size: 14px;
  }
}
.navbar-nav > li:nth-child(1) a {
  color: red;
}
.lan {
  display: none;
}
#fix {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
}
.newss_1 {
  overflow: hidden;
  margin: 0 auto;
  font-size: 24px;
}
.newss_1 > li {
  text-align: center;
}
.newss_1 > li:first-child a {
  border-bottom: 1px solid #f54336;
  color: #f54336;
}
.newss_1 a {
  color: #7b7b7c;
  line-height: 75px;
  width: 100%;
  white-space: nowrap;
}
.newss_1 a:hover {
  text-decoration: none;
}
.img img {
  width: 100%;
  vertical-align: middle;
}
.zhong {
  margin-top: 2.5%;
}
.main {
  overflow: hidden;
}
.main > li > div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  opacity: 0.7;
  left: -100%;
  /*display: none;*/
  top: 0;
}
.main > li {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
}
.main > li > p {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 3;
  left: -100%;
  /*display: none;*/
  top: 50px;
}
.main > li > h4 {
  background: #eeeeee;
  text-align: center;
  line-height: 60px;
  margin: 0;
}
.main > li > div > h4 {
  color: #fff;
  text-align: left;
  padding-top: 15px;
  padding-left: 8px;
}
.main > li > div > p {
  color: #ffffff;
  text-align: left;
  padding-left: 8px;
}
.main > li > div > a {
  position: absolute;
  width: 160px;
  color: #ff0000;
  text-align: center;
  line-height: 40px;
  background: #fff;
  bottom: 6%;
  left: 24%;
  overflow: hidden;
  border-radius: 25px;
}
.main > li > div > span {
  color: #fff;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .p_1 {
    margin-top: 4%;
    font-size: 12px;
    line-height: 38px;
    color: #000;
  }
  h4 {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
  .p_1 {
    margin-top: 4%;
    font-size: 16px;
    line-height: 38px;
    color: #000;
  }
}
.main .xu {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: none;
  opacity: 0.7;
  left: 0;
  top: 0;
}
.juzhong {
  text-align: center;
}
.p_1 {
  margin-top: 4%;
  font-size: 18px;
  line-height: 38px;
  color: #000;
}
.p_2 {
  font-size: 16px;
  color: #7b7b7c;
  padding-top: 10px;
}
.big > div {
  overflow: hidden;
}
.big > div > div {
  font-size: 72px;
  color: #c3c3c3;
}
.red {
  border-left: 10px solid red;
  padding-left: 2%;
  background: #eff2f7;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
  h4 {
    font-size: 14px;
  }
  .p_1 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .p_2 {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  a {
    font-size: 14px;
  }
  html {
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
}
.chuangye {
  padding-top: 2.3%;
}
.center {
  text-align: center;
}
.chuangye {
  padding-top: 2.3%;
}
.red {
  border-left: 10px solid red;
  padding-left: 2%;
  background: #eff2f7;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .p_1 {
    margin-top: 4%;
    font-size: 12px;
    line-height: 38px;
    color: #000;
  }
}
@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
  .p_1 {
    margin-top: 4%;
    font-size: 16px;
    line-height: 38px;
    color: #000;
  }
}
.text p {
  font-size: 18px;
  color: #000;
  text-indent: 20pt;
}
.text span {
  font-size: 18px;
  color: #000;
}
body .h4 {
  text-align: center;
  padding-top: 3.3%;
  font-weight: bold;
}
.blod {
  font-weight: bold;
}
.red {
  border-left: 10px solid red;
  padding-left: 2%;
  background: #eff2f7;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 14px;
  }
  .text p {
    margin-top: 4%;
    font-size: 12px;
    line-height: 38px;
    color: #000;
  }
  .text span {
    font-size: 14px;
  }
  body .h4 {
    font-size: 14px;
    text-align: left;
  }
}
.ypt {
  display: none;
}
.cy {
  display: none;
}
.rc {
  display: none;
}
.jr {
  display: none;
}
.navbar-nav > li:nth-child(1) a {
  color: #333333;
}
.navbar-nav > li:nth-child(2) a {
  color: red;
}
